section.main-section#berita-sekolah
  .main-section__content  
    h2 Berita sekolah 
    .berita 
      .berita__card
        .berita__card-image
          p Ceritanya gambar
        .berita__card-text 
          p Ini berita
      .berita__card
        .berita__card-image
          p Ceritanya gambar
        .berita__card-text 
          p Ini berita
      .berita__card
        .berita__card-image
          p Ceritanya gambar
        .berita__card-text 
          p Ini berita
      .berita__card
        .berita__card-image
          p Ceritanya gambar
        .berita__card-text 
          p Ini berita