footer.footer 
  .footer__address 
    address asdfasdf 
    p 1334234

  .footer__video 
    iframe(width="560" height="315" src="https://www.youtube.com/embed/uvmYi_QRwcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
  .footer__socials 
    p Made by Klrfl, 2023. All rights reserved.