header
  section.logo
    //- img(src="https://smkmetland.net/ppdb/wp-content/uploads/2023/01/cropped-Metland_School__2_-removebg-preview-265x106.png" alt="logo SMK Metland yang jelek.")
    img(src="../../../assets/metland-logo.png")
  
  nav.socials#secondary-nav
    a(href="#") 
      i.fa-brands.fa-whatsapp
    a(href="#") 
      i.fa-brands.fa-instagram
    a(href="#")
      i.fa-brands.fa-facebook
    a(href="#") 
      i.fa-brands.fa-youtube
    
    button#open-nav 
      i.fa-solid.fa-bars

  nav.main-nav#main-nav
    .nav-header
      .logo
        img(src="../../../assets/metland-logo.png")
      button#close-nav
        i.fa-solid.fa-xmark
    
    ul
      li
        button Tentang sekolah 
          i.fa-solid.fa-chevron-down

        ul.main-nav__sub-menu 
          li
            a(href="#") Visi 
          li
            a(href="#") Misi
          li
            a(href="#") Nilai budaya sekolah
          li
            a(href="#") Kampus Cibitung
          li
            a(href="#") Blog
      
      li
        button Program Keahlian 
          i.fa-solid.fa-chevron-down

        ul.main-nav__sub-menu 
          li
            a(href="#") Perhotelan
          li
            a(href="#") Akutansi 
          li
            a(href="#") Tata Boga
          li
            a(href="#") Pengembangan Perangkat Lunak dan Gim
          li
            a(href="#") Desain Komunikasi Visual
      
      li
        button Kurikulum 
          i.fa-solid.fa-chevron-down
        ul.main-nav__sub-menu 
          li
            a(href="#") Kurikulum operasional sekolah
          li
            a(href="#") Sarana praktik siswa
          li
            a(href="#") Organisasi
          li
            a(href="#") Ekstrakurikuler
      li
        a(href="#") Berita Sekolah
      li
        a(href="#") PPDB 
      li
        a(href="#") BKK