section.hero 
  .hero__text 
    h1 SMK Metland
    p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, maiores magni distinctio porro placeat facere ut ullam optio neque. Deleniti ipsam dolores quis, ducimus sapiente veniam esse error repellat perspiciatis.
    button#daftar Informasi pendaftaran
  .hero__image 
    img(src="./assets/hero-image.jpeg")