section.hero 
  .hero__text 
    h1 SMK Metland
    p  SMK Metland didirikan oleh Yayasan Pendidikan Metland (YPM), yang berada di bawah naungan PT Metropolitan Land, Tbk. 
      | Keberhasilan pengembangan SMK Metland di kawasan Metland Transyogi Bogor (dalam kurun waktu 8 tahun)
      | sebagai SMK dengan standar internasional mendorong Yayasan Pendidikan Metland untuk mengembangkan SMK Metland di kawasan
      | Perumahan Metland Cibitung yang dimulai pada tahun 2021. Hal ini ditandai dengan akan didirikannya bangunan sekolah
      | dengan fasilitas lengkap pada tahun 2022 di lokasi yang strategis.
    
    button#daftar Informasi pendaftaran
  .hero__image 
    img(src="./assets/hero-image.jpeg")