section.main-section#infografi 
  h2 Infografi
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam molestias eaque, iste, aut dolorem numquam aperiam iusto suscipit facere sed eius, dolores rem! Corrupti rerum impedit sapiente nesciunt commodi perferendis.