section.main-section#infografi 
  .main-section__content
    h2 Infografi
    .infografi 
      .infografi__card 
        h3
          span.stat 619 
          | Siswa
        i.fa-solid.fa-user-friends
      .infografi__card 
        h3
          span.stat 68 
          | Guru
        i.fa-solid.fa-chalkboard-teacher
      .infografi__card 
        h3
          span.stat 42 
          | Tenaga Pendidikan & caraka
        i.fa-solid.fa-people-group