section.main-section#kerjasama-industri 
  .main-section__content
    h2 Kerjasama industri
    .company-container 
      .company-logo
        p Ceritanya logo
      .company-logo
        p Ceritanya logo
      .company-logo
        p Ceritanya logo
      .company-logo
        p Ceritanya logo
      .company-logo
        p Ceritanya logo
      .company-logo
        p Ceritanya logo
      .company-logo
        p Ceritanya logo
      .company-logo
        p Ceritanya logo