section.main-section#kerjasama-industri 
  .main-section__content
    h2 Kerjasama industri
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorum voluptates aut voluptas beatae eos porro laudantium nam? Quaerat blanditiis magni harum laborum labore accusamus molestias repellat maiores repudiandae libero!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorum voluptates aut voluptas beatae eos porro laudantium nam? Quaerat blanditiis magni harum laborum labore accusamus molestias repellat maiores repudiandae libero!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorum voluptates aut voluptas beatae eos porro laudantium nam? Quaerat blanditiis magni harum laborum labore accusamus molestias repellat maiores repudiandae libero!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorum voluptates aut voluptas beatae eos porro laudantium nam? Quaerat blanditiis magni harum laborum labore accusamus molestias repellat maiores repudiandae libero!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorum voluptates aut voluptas beatae eos porro laudantium nam? Quaerat blanditiis magni harum laborum labore accusamus molestias repellat maiores repudiandae libero!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorum voluptates aut voluptas beatae eos porro laudantium nam? Quaerat blanditiis magni harum laborum labore accusamus molestias repellat maiores repudiandae libero!