
--
section.main-section#program-keahlian
  h2 Program Keahlian
  p Jangan masuk PPLG ya.
  .jurusan
    .jurusan__card
      p Perhotelan
      i.fa-solid.fa-hotel
    .jurusan__card
      p Tata Boga
      i.fa-solid.fa-cookie
    .jurusan__card
      p PPLG
      i.fa-solid.fa-terminal
    .jurusan__card
      p Akutansi
      i.fa-solid.fa-money-bill
    .jurusan__card
      p DKV
      i.fa-solid.fa-camera
