section.main-section#program-keahlian
  h2 Program Keahlian
  .jurusan-container 
    .jurusan
      p Perhotelan
    .jurusan
      p Tata Boga
    .jurusan
      p PPLG
    .jurusan
      p Akutansi
    .jurusan
      p DKV
