footer {
  color: #ddd;
  background: #222;

  // display: grid;
  // grid-template-columns: 1fr;

  // grid-template-areas:
  //   "address address"
  //   "video video"
  //   "socials socials";
}

.address > * {
  padding: 2rem;
}
.video {
  iframe {
    width: 100%;
  }
}

.socials {
  padding: 2rem;
}

@media screen and (min-width: 50em) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "address video"
      "socials socials";
  }
}
