.footer {
  color: #ddd;
  background: #222;

  // display: grid;
  // grid-template-columns: 1fr;

  // grid-template-areas:
  //   "address address"
  //   "video video"
  //   "socials socials";

  &__socials {
    padding: 2rem;
  }

  &__address > * {
    padding: 2rem;
  }

  &__video {
    iframe {
      width: 100%;
    }
  }
}

@media screen and (min-width: 50em) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "address video"
      "socials socials";
  }
}
