@use "../abstracts/" as *;

header {
  background: $accent;
  color: #eee;
  padding: 2rem;
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  z-index: 10;

  a {
    color: inherit;
    text-decoration: none;
  }

  .logo {
    grid-column: span 6;
  }
}

#secondary-nav {
  display: flex;

  justify-content: flex-end;
  align-items: center;

  a {
    padding: 1rem;
  }
}

#open-nav {
  margin-left: auto;
}

#main-nav {
  background: #000a;
  backdrop-filter: blur(0.5rem);
  position: absolute;
  inset: 0 0 auto;
  height: 100vh;

  transform: translateX(100%);
  transition: transform 200ms ease;

  &.active {
    transform: translate(0);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: right;

    li {
      display: flex;
      align-items: center;
    }
  }

  li > a,
  li > button {
    padding: 1rem 2rem;
    display: block;
    width: 100%;
  }

  li > ul {
    display: none;
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

@media screen and (min-width: 60em) {
  header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  #secondary-nav {
    grid-column: span 6;
  }

  #main-nav {
    background: transparent;
    backdrop-filter: none;
    position: relative;
    height: max-content;

    grid-column: span 12;

    transform: none;
    ul {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    li > button,
    li > a {
      padding: 1rem;
    }
  }

  .nav-header,
  #open-nav {
    display: none;
  }
}
