@use "../abstracts/" as *;

.company-container {
  @include card-container;
}

.company-logo {
  @include card;
  flex: 1 1 0;
  background: #232323;

  &:hover {
    background: #333;
    cursor: pointer;
  }
}
