@use "../abstracts/" as *;

.wrapper {
  max-height: 100vh;
  overflow-y: auto;
  perspective: 10px;
}

.hero {
  min-height: 100vh;

  transform-style: preserve-3d;
  transform: translateZ(-20px) translateX(-20px) scale(3);
  position: relative;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

// firefox only
@-moz-document url-prefix() {
  .hero {
    transform: translateZ(-20px) scale(3);
  }
}

.hero__image {
  position: absolute;
  inset: 0;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__text {
  background: linear-gradient(to top, #1b1b1b, #1b1b1baa 70%, #0000);
  backdrop-filter: blur(0.1rem);
  color: #ddd;
  margin: 0;
  padding: 2rem;
}

#daftar {
  background: $accent;
  padding: 1rem 2rem;
  border-radius: 2rem;

  &:hover {
    background: $accent-hover;
  }
}

.main-section {
  background: #1b1b1b;
  padding: 2rem;
  color: #ddd;

  h2 {
    position: relative;
    width: max-content;

    &::before {
      content: "";
      background: $accent;
      position: absolute;
      bottom: -0.4rem;
      width: calc(100% + 10px);
      height: 3px;
    }
  }
  &__content {
    max-width: 105ch;
    margin: auto;
  }
}
