*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid white;
}

header {
  background: #035757;
  color: #ddd;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  min-width: 100%;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
header a {
  color: inherit;
  text-decoration: none;
}
header a:hover,
header button:hover {
  color: #fefefe;
}
header .logo {
  grid-column: span 6;
}

#secondary-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#secondary-nav a {
  padding: 1rem;
}

#open-nav {
  margin-left: 1rem;
}

#main-nav {
  background: rgba(0, 0, 0, 0.6666666667);
  backdrop-filter: blur(0.5rem);
  position: absolute;
  inset: 0 0 auto;
  min-height: 100vh;
  transform: translateY(-100%);
  transition: transform 200ms ease, visibility 200ms ease;
}
#main-nav.active {
  transform: translate(0);
  visibility: visible;
}
#main-nav > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
#main-nav > ul > li {
  background: #222;
  display: flex;
  flex-direction: column;
  position: relative;
}
#main-nav li a,
#main-nav li button {
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}
#main-nav .main-nav__sub-menu {
  background: #333;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease, visibility 200ms ease, opacity 200ms ease;
  visibility: hidden;
  opacity: 0;
}
#main-nav .main-nav__sub-menu.active {
  max-height: 25rem;
  opacity: 1;
  visibility: visible;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.nav-header > * {
  padding: 1rem 0;
}

@media screen and (min-width: 60em) {
  header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  #secondary-nav {
    grid-column: span 6;
  }
  #main-nav {
    background: transparent;
    backdrop-filter: none;
    position: relative;
    min-height: max-content;
    grid-column: span 12;
    transform: none;
  }
  #main-nav > ul {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: unset;
  }
  #main-nav > ul li {
    background: transparent;
  }
  #main-nav li a,
  #main-nav li button {
    padding: 1rem;
  }
  #main-nav .main-nav__sub-menu {
    position: fixed;
    opacity: 0;
    transform: translateY(3rem);
  }
  #main-nav .main-nav__sub-menu:hover {
    max-height: 25rem;
    opacity: 1;
    visibility: visible;
  }
  #main-nav button:hover + .main-nav__sub-menu {
    max-height: 25rem;
    opacity: 1;
    visibility: visible;
  }
  .nav-header,
  #open-nav {
    display: none;
  }
}
.infografi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.infografi__card {
  outline: 2px solid #444;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
}

.wrapper {
  max-height: 100vh;
  overflow-y: auto;
  perspective: 10px;
}

.hero {
  min-height: 100vh;
  transform-style: preserve-3d;
  transform: translateZ(-20px) translateX(-20px) scale(3);
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@-moz-document url-prefix() {
  .hero {
    transform: translateZ(-20px) scale(3);
  }
}
.hero__image {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__text {
  background: linear-gradient(to top, #1b1b1b, rgba(27, 27, 27, 0.6666666667) 70%, rgba(0, 0, 0, 0));
  backdrop-filter: blur(0.1rem);
  color: #ddd;
  margin: 0;
  padding: 2rem;
}

#daftar {
  background: #035757;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
#daftar:hover {
  background: #024141;
}

.main-section {
  background: #1b1b1b;
  padding: 2rem;
  color: #ddd;
}
.main-section h2 {
  position: relative;
  width: max-content;
}
.main-section h2::before {
  content: "";
  background: #035757;
  position: absolute;
  bottom: -0.4rem;
  width: calc(100% + 10px);
  height: 3px;
}
.main-section__content {
  max-width: 105ch;
  margin: auto;
}

.jurusan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.jurusan__card {
  color: inherit;
  text-decoration: none;
  outline: 2px solid #444;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  min-width: 15ch;
  aspect-ratio: 1/1;
  transition: transform 200ms cubic-bezier(0, 1, 0.7, 1.5), outline 200ms ease;
}
.jurusan__card:hover {
  transform: scale(1.1);
  outline: 2px solid #888;
}

.company-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.company-logo {
  outline: 2px solid #444;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  flex: 1 1 0;
}

.footer {
  color: #ddd;
  background: #222;
}
.footer__socials {
  padding: 2rem;
}
.footer__address > * {
  padding: 2rem;
}
.footer__video iframe {
  width: 100%;
}

@media screen and (min-width: 50em) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "address video" "socials socials";
  }
}

/*# sourceMappingURL=style.css.map */
